In [79]:
class Preson:
 def __init__(self,Fname,Lname,age,address):
        self.Fname=Fname
        self.Lname=Lname
        self.age=age
        self.address=address

        
class  Employee(Preson):
    def __init__(self,employee_id,Fname,Lname,age,address,position,salary):
        Preson.__init__(self,Fname,Lname,age,address)
        self.employee_id=employee_id
        self.position=position
        self.salary=salary

    def  get_employee_info(self):
        print("ID :",self.employee_id," | First Name :",self.Fname," | Last Name :",self.Lname," | Age :",self.age," | Address :" ,self.address, "  | Position  :",self.position,"  | Salary  :",self.salary)


    def update_address(self,new_address):
        self.address=new_address
        


E1=Employee("E1",'merna',"tarek",22,"assuit","Hr",10000)
E1.get_employee_info()
print("***********************")
E1.update_address("Sohage")
E1.get_employee_info()

ID : E1  | First Name : merna  | Last Name : tarek  | Age : 22  | Address : assuit   | Position  : Hr   | Salary  : 10000
***********************
ID : E1  | First Name : merna  | Last Name : tarek  | Age : 22  | Address : Sohage   | Position  : Hr   | Salary  : 10000

In [80]:
class  student(Preson) :
    def __init__(self,student_id,Fname,Lname,age,address,enrolled_courses=[]):
        Preson.__init__(self,Fname,Lname,age,address)
        self.student_id=student_id
        self.enrolled_courses=enrolled_courses


    def enroll_course(self,course_id):
        self.enrolled_courses.append(course_id)

    def drop_course(self,course_id):
        self.enrolled_courses.remove(course_id)
    

    def  get_student_info(self):
        print("ID :",self.student_id," | First Name :",self.Fname," | Last Name :",self.Lname," | Age :",self.age," | Address :" ,self.address, "  | Enrolled  :",self.enrolled_courses)






s1=student("s1",'maria',"Atef",22,"assuit",[])
s2=student("s2",'Rahil',"Raft",17,"Cairo",['cs2','cs3'])
s3=student("s3",'shahd',"Ashrf",20,"Mina",[])

s1.get_student_info()
s2.get_student_info()


print("***********************")
s1.enroll_course(c1.course_id)
s1.enroll_course(c2.course_id)
s1.enroll_course(c3.course_id)

s1.get_student_info()
print("***********************")
s1.drop_course(c3.course_id)
s1.get_student_info()

ID : s1  | First Name : maria  | Last Name : Atef  | Age : 22  | Address : assuit   | Enrolled  : []
ID : s2  | First Name : Rahil  | Last Name : Raft  | Age : 17  | Address : Cairo   | Enrolled  : ['cs2', 'cs3']
***********************
ID : s1  | First Name : maria  | Last Name : Atef  | Age : 22  | Address : assuit   | Enrolled  : ['cs1', 'cs2', 'cs3']
***********************
ID : s1  | First Name : maria  | Last Name : Atef  | Age : 22  | Address : assuit   | Enrolled  : ['cs1', 'cs2']

In [81]:

class  Professor(Preson):
    def __init__(self,professor_id,Fname,Lname,age,address,department,courses_taught=[]):
        Preson.__init__(self,Fname,Lname,age,address)
        self.professor_id=professor_id
        self.department=department
        self.courses_taught=courses_taught

    def assign_course(self,course_id):
        self.courses_taught.append(course_id)

    def remove_course(self,course_id):
        self.courses_taught.remove(course_id)
    

    def  get_professor_info(self):
        
        print("ID :",self.professor_id," | First Name :",self.Fname," | Last Name :",self.Lname," | Age :",self.age," | Address :" ,self.address," | Department :" ,self.department, "  | courses_taught  :",self.courses_taught)


p1=Professor("pr1",'Ahmed',"Samir",40,"Cairo","IS",[])
p1.get_professor_info()
print("***********************")
p1.assign_course(c1.course_id)
p1.assign_course(c2.course_id)
p1.assign_course(c3.course_id)
p1.assign_course("cs4")


p1.get_professor_info()
print("***********************")
p1.remove_course("cs4")
p1.get_professor_info()

ID : pr1  | First Name : Ahmed  | Last Name : Samir  | Age : 40  | Address : Cairo  | Department : IS   | courses_taught  : []
***********************
ID : pr1  | First Name : Ahmed  | Last Name : Samir  | Age : 40  | Address : Cairo  | Department : IS   | courses_taught  : ['cs1', 'cs2', 'cs3', 'cs4']
***********************
ID : pr1  | First Name : Ahmed  | Last Name : Samir  | Age : 40  | Address : Cairo  | Department : IS   | courses_taught  : ['cs1', 'cs2', 'cs3']

In [82]:
class  Course :
    def __init__(self,course_id,name,credits,professor_id,students_enrolled=[]):
        self.course_id=course_id
        self.name=name
        self.credits=credits
        self.students_enrolled=students_enrolled
        self.professor_id=professor_id

    def add_student(self,student_id):
        self.students_enrolled.append(student_id)

    def remove_student(self,student_id):
        self.students_enrolled.remove(student_id)
    

    def  get_course_info(self):
        
        print("ID :",self.course_id," | Name :",self.name," | Credits :" ,self.credits,"  | professor_id  :",self.professor_id, "  | students_enrolled  :",self.students_enrolled )



c1=Course("cs1","oop","4",p1.professor_id,[s2.student_id])
c2=Course("cs2","it","3",p1.professor_id,[s1.student_id,s2.student_id])
c3=Course("cs3","AI","2",p1.professor_id,[s2.student_id])


c1.get_course_info()
print("***********************")
c1.add_student(s1.student_id)
c1.get_course_info()
print("***********************")
c1.remove_student(s2.student_id)
c1.get_course_info()

ID : cs1  | Name : oop  | Credits : 4   | professor_id  : pr1   | students_enrolled  : ['s2']
***********************
ID : cs1  | Name : oop  | Credits : 4   | professor_id  : pr1   | students_enrolled  : ['s2', 's1']
***********************
ID : cs1  | Name : oop  | Credits : 4   | professor_id  : pr1   | students_enrolled  : ['s1']

In [85]:
class  Enrollments :
    # def __init__(self,Enrollment_id,date,student_id,course_id=[]):
    # # def __init__(self):
      
    #     self.student_id=student_id
    #     self.course_id=course_id
    #     self.Enrollment_id=Enrollment_id
    #     self.date=date
        

    def enroll(self,Enrollment_id,date,student_id,course_id):

        self.Enrollment_id=Enrollment_id
        self.student_id=student_id
        self.course_id=course_id
        self.date=date


    def drop(self):
        self.Enrollment_id=None
        self.student_id=None
        self.course_id=None
        self.Enrollment_id=None
        self.date=None




    def get_enrollment_info(self):
        print( "Enrollment_id : ",self.Enrollment_id,"| Student_id : ",self.student_id,"| Courses_ids : ",self.course_id,"|  Date : ",self.date)

    

        


Enroll1=Enrollments()
Enroll2=Enrollments()
Enroll3=Enrollments()


Enroll1.enroll("enroll1","19/9/2024",s1.student_id,[c1.course_id,c2.course_id])
Enroll2.enroll("enroll2","20/9/2024",s2.student_id,[c2.course_id,c3.course_id])
Enroll3.enroll("enroll3","21/9/2024",s2.student_id,[c1.course_id])

# Enroll1.enroll("enroll2","23/9/2024",s1.student_id,c2.course_id)


Enroll1.get_enrollment_info()
Enroll2.get_enrollment_info()
Enroll3.get_enrollment_info()


print("**********************************************")

Enroll3.drop()

Enroll3.get_enrollment_info()

Enrollment_id :  enroll1 | Student_id :  s1 | Courses_ids :  ['cs1', 'cs2'] |  Date :  19/9/2024
Enrollment_id :  enroll2 | Student_id :  s2 | Courses_ids :  ['cs2', 'cs3'] |  Date :  20/9/2024
Enrollment_id :  enroll3 | Student_id :  s2 | Courses_ids :  ['cs1'] |  Date :  21/9/2024
**********************************************
Enrollment_id :  None | Student_id :  None | Courses_ids :  None |  Date :  None